*{
margin:0;
padding:0;
box-sizing:border-box;
}

 /* 
  * Main card modal styles
  *
  */

.lightbox-card-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  // height: 100vh;
  transition: opacity var(--animation-duration) var(--timing-function);

  opacity: 0;
  pointer-events: none;
  &.is-open {
    opacity: 1;
    pointer-events: initial;
  }
}

.lightbox-card-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-card-modal__content {
  position: relative;
  display: block;
  weight: 861px;
  height: 668px;
  // margin: 54px auto 0px auto;

  z-index: 5;
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function); 
}

 /* 
  * Card modal
  *
  */
.card-modal {
  
  // top: 4%;
  width: 290px;
  max-height: 780px;
 
  padding: 55px 18px 60px 18px;
  margin: 0px auto 0px auto;

  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 765px;
    min-height: 615px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    width: 860px;
    min-height: 670px;
    padding-top: 54px;
  }
}

.card-modal__close-btn {
  @extend %button-throw;
    position: absolute;
    cursor: pointer;
    // background-color: #F5F6FB;
    width: 24px;
    height: 24px;
    padding: 25px;
    top: 15px;
    right: 15px;

    background-color: #fff;
    border: none;

    @media screen and (max-width: 767px){
        top: 15px;
        right: 15px;
    }

    .card-modal__icon-close{
        height: 24px;
        width: 24px;
    }

    &:hover .card-modal__icon-close,
    &:focus .card-modal__icon-close{
        fill: #000;
        border: none;
        border-color: #ffffff;
    }
    @media screen and (max-width: 1200px){
    top: 0px;
    right: 25px;
    }
}

 /* 
  * Left sidebar with images
  *
  */
.card-modal__image-wraper {
  display: block;
  width: 380px;

  @media screen and (min-width: 768px) {
  // width: 765px;
  // min-height: 615px;
  }
  @media screen and (min-width: 1200px) {
    width: 380px;
    // min-height: 670px;
    margin-left: 60px;
  }
}

.card-modal__image-big {
  @extend %img-style;
  display: block;
  width: 253px;
  height: 253px;
  padding: 0px;
  margin: 72px 0px 5px 0px;

  background-color: #F5F6FB;
  border: none;

  @media screen and (min-width: 768px) {
    width: 380px;
    min-height: 471px;
  }
  @media screen and (min-width: 1200px) {
    width: 380px;
    height: 471px;
    margin: 0px 0px 15px 0px;
  }
}

.card-modal_tumbnails-list{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;

  list-style-type: none;
}

.card-modal__tumbnails-item {
  // margin: 5px;
  width: 5px;
  height: 5px;
  background-color: #F5F6FB;

  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
  }

  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 1200px) {
    width: 68px;
    height: 73px;
    margin: 5px;
  }
}

 /* 
  * Right sidebar with information
  *
  */
.card-modal__info-container {
  position: relative;
  width: 253px;

  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: 38px;
    width:340px;
  }
}

.card-modal__heading-wrapper {
  position: absolute;
  top: -345px;
  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 1200px) {
    position: relative;
    top: 0px;
  }
}

.goods-modal__text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: $inactive-color;
}

.goods-modal__title {
  display: block;
  // width: 100%;
  max-height: 60px;
  margin-bottom: 5px;
}

.goods-modal__price,
.goods-modal__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.goods-modal__price {
  margin-top: 30px;
  margin-bottom: 40px;
}

.goods-modal__button {
  @extend %button-mobile-orange;
  position:absolute;
  top: 60px;
  z-index: 1;

  width: 255px;
  height: 60px;
  padding: 0px 60px 0px 60px;
  margin:  0px 0px 20px 0px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  border: 2px solid $main-color;

  // &:active {
  //   opacity: 0;
  //   pointer-events: none;
  // }

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    top: 76px;
    margin-top: 40px;
  }
}

.goods-modal__button-underinfo {
  // @extend %button-mobile-orange;
  // position:absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  width: 255px;
  height: 60px;

  // margin-top: 30px;
  margin-bottom: 20px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  background-color: #F5F6FB;


  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  border: 2px solid $main-color;
}

.phone-title {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.card-modal__like-share {
  display: flex;
  justify-content: space-between;
  width: 217px;
  margin-bottom: 30px;
  padding: 0px;

  // font-family: Roboto;
  // font-style: normal;
  // font-weight: 300;
  // font-size: 12px;
  // line-height: 14px;
  // letter-spacing: 0.02em;

color: #878686;
}

.goods-modal__item {
  display: flex;
  align-items: baseline;
  // margin-right: 45px;
}

.icon-modal {
  margin-left: 10px;
  padding-top: 10px;
  fill: $inactive-color;
}

.discription-title {
  margin:  0px 0px 10px 0px;
}

.goods-modal__discription-text {
  height: 96px;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $bold-text-color;
}


// .card-modal__icon-close {
//   height: 24px;
//   weight: 24px;
// }

//   @extend %button-throw;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   position: absolute;
//   top: 4%;
//   right: 1%;

//   @media screen and (min-width: 768px) {
//     top: 1%;
//   }

//   background-color: transparent;
//   outline: none;
//   width: 24px;
//   height: 24px;
// }

// // блок фото для мобилки
// .goods-modal__mob-photo {
//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }

// // img для мобилки
.goods-modal__mob-photo-big {
  width: 255px;
  height: 255px;
}

// // блок фото для таб. + дестоп
// .tablet-slider {
//   @media screen and (max-width: 767px) {
//     display: none;
//   }
// }
// img для для таб. + дестоп
.tablet-slider__big-photo {
  // object-fit: contain;
  margin-bottom: 10px;
  margin-right: 38px;

  @media screen and (min-width: 768px) {
    width: 280px;
    height: 350px;
  }
  @media screen and (min-width: 1200px) {
    width: 380px;
    height: 470px;
  }
}

// блок слайдера для таб. + дестоп
.slider-mini_item {
  @media screen and (min-width: 768px) {
    width: 52px;
    height: 55px;
  }

  @media screen and (min-width: 1200px) {
    width: 68px;
    height: 73px;
  }
}
// стили для текста

.goods-modal-tablet__img-container {
  // padding: 15px;
  @media screen and (min-width: 768px) {
    display: flex;
    // flex-wrap: wrap;
  }
}
// иконки



