// /* Lightbox */
*{
margin:0;
padding:0;
box-sizing:border-box;
}
.card-modal{
// position: absolute;
}

.lightbox-card-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox-card-modal.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox-card-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-card-modal__content {
  display: block;
  weight: 861px;
  height: 668px;
  margin: 0 auto 0 auto;

  z-index: 5;
  // transform: scale(0.95);
  // transition: transform var(--animation-duration) var(--timing-function);
  
}


// Модальное окно
.card-modal {
  position: relative;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  padding-top: 54px;
  // top: 4%;
  background-color: #ffffff;
  width: 861px;
  height: 668px;
 
  margin-left: auto;
  margin-right: auto;
  // padding: 15px;
  // @media screen and (min-width: 768px) {
  //   width: 765px;
  //   min-height: 615px;
  // }
  // @media screen and (min-width: 1200px) {
  //   width: 860px;
  //   min-height: 670px;
  // }
}

.card-modal__info-container {
  display: block;
  margin-left: 38px;
  width:300px;//420
}

// .goods-modal__info {
//   position: relative;
// }


// оранжевые стили для кнопки
.goods-modal__button {
  @extend %button-mobile-orange;
  position:absolute;
  z-index: 1;

  font-family: inherit;
  font-style: normal;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  min-width: 255px;
  height: 60px;

  margin-top: 30px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  border: 2px solid $main-color;
}

.hide-button {

}

.goods-modal__button-underinfo {
  z-index: 3;
  padding-top: 37px;
  padding-bottom: 20px;
}


// // стилі для  тексту в кнопці инфор. про продавця
.phone-title {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.card-modal__close-btn {
  @extend %button-throw;
    position: absolute;
    cursor: pointer;
    // background-color: #F5F6FB;
    width: 24px;
    height: 24px;
    padding: 25px;
   
    top: 0px;
    right: 25px;
    background-color: #fff;
    border: none;

    @media screen and (max-width: 767px){
        top: 15px;
        right: 15px;
    }

    .card-modal__icon-close{
        height: 24px;
        width: 24px;
    }

    &:hover .card-modal__icon-close,
    &:focus .card-modal__icon-close{
        fill: #000;
        border: none;
        border-color: #ffffff;
    }
}

.card-modal__image-wraper {
  display: block;

  width: 380px;

  // height: 554px;
  margin-left: 60px;
}

.card-modal__image-big {
    @extend %img-style;
  display: block;
  width: 380px;
  height: 471px;
  padding: 0px;
  margin: 0px 0px 5px 0px;

  background-color: #F5F6FB;
  border: none;
}

.card-modal_tumbnails-list{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;

  list-style-type: none;
}

.card-modal__tumbnails-item {
  margin: 5px;
  width: 68px;
  height: 73px;
  background-color: #F5F6FB;
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
  }
}

// .card-modal__icon-close {
//   height: 24px;
//   weight: 24px;
// }

//   @extend %button-throw;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   position: absolute;
//   top: 4%;
//   right: 1%;

//   @media screen and (min-width: 768px) {
//     top: 1%;
//   }

//   background-color: transparent;
//   outline: none;
//   width: 24px;
//   height: 24px;
// }

// // блок фото для мобилки
// .goods-modal__mob-photo {
//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }

// // img для мобилки
// .goods-modal__mob-photo-big {
//   width: 255px;
//   height: 255px;
// }

// // блок фото для таб. + дестоп
// .tablet-slider {
//   @media screen and (max-width: 767px) {
//     display: none;
//   }
// }
// // img для для таб. + дестоп
// .tablet-slider__big-photo {
//   // object-fit: contain;
//   margin-bottom: 10px;
//   margin-right: 38px;

//   @media screen and (min-width: 768px) {
//     width: 280px;
//     height: 350px;
//   }
//   @media screen and (min-width: 1200px) {
//     width: 380px;
//     height: 470px;
//   }
// }

// // блок слайдера для таб. + дестоп
// .slider-mini_item {
//   @media screen and (min-width: 768px) {
//     width: 52px;
//     height: 55px;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 68px;
//     height: 73px;
//   }
// }
// // стили для текста
.goods-modal__price,
.goods-modal__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.goods-modal__title {
  margin-bottom: 5px;
}
.goods-modal__price {
  margin-top: 30px;
}
.goods-modal__text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: $inactive-color;
}

.goods-modal__discription-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $bold-text-color;
}
.discription-title {
  margin-top: 30px;
  margin-bottom: 10px;
}
// // позиціювання
.group-text {
  display: flex;
  width: 340px;
  margin-top: 30px;
  padding: 0px;
}
.goods-modal__item {
  display: flex;
  align-items: baseline;
  margin-right: 45px;
}

// .goods-modal-tablet__img-container {
//   // padding: 15px;
//   @media screen and (min-width: 768px) {
//     display: flex;
//     // flex-wrap: wrap;
//   }
// }
// // иконки
// .icon-modal {
//   margin-left: 10px;
//   fill: $inactive-color;
// }


