
    
        <li class="card__item">
            <a class="card__link" href="">
                <div class="card__img-wraper">
                <img class="card__img" src="{{image}}" alt="image">
                <svg class="card__svg-love">
                    <use href="./images/sprite/symbol-defs.svg#icon-heart"></use>
                </svg>
                <svg class="card__svg-love">
                    <use href="./images/sprite/symbol-defs.svg#icon-heart"></use>
                </svg>
                </div>
            </a>

            <div class="card__text">       
                <h3 class="card__title">{{name}}</h3>
                <div class="double-price">
                    <p class="card__price">{{price}} грн</p>
                    <p class="card__sale">{{sale}} грн</p>
                </div>
            </div>
        </li>
  
